---
import Layout from "../pages/layout.astro";

import data from "../data/data.json";

const { draw } = data;
---

<Layout title="Diagramar | Frontdev Resources">
  <section id="draw">
    <div
      class="w-full md:w-[75vw] h-full md:h-screen px-4 py-8 2xl:px-10 2xl:py-32 flex flex-col justify-center md:flex-row relative"
    >
      <header
        class="w-full md:w-1/4 flex flex-col items-center gap-y-5 2xl:gap-y-10 mb-10 md:mb-0"
      >
        <div
          style="view-transition-name: svg-draw"
          class="h-fit aspect-square flex flex-col items-center justify-center p-3 2xl:p-6"
        >
          <svg class="w-20 fill-neutral-50">
            <use xlink:href="sprites.svg#draw"></use>
          </svg>
          <p
            style="view-transition-name: title-draw"
            class="text-2xl 2xl:text-4xl font-marck text-neutral-50"
          >
            Diagramar
          </p>
        </div>
        <p
          class="animate-fade-up animate-delay-500 text-lg 2xl:text-xl text-center text-neutral-50"
        >
          Desata tu creatividad con nuestras herramientas de dibujo y
          diagramación para desarrolladores frontend. Potentes y fáciles de
          usar, te permitirán dar forma visual a tus ideas y simplificar tu
          flujo de trabajo.
        </p>
        <a
          href="/"
          class="animate-fade-up animate-delay-700 border border-neutral-50 rounded-lg font-bold text-xl text-neutral-50 py-3 px-6 transition-colors hover:text-neutral-900 hover:bg-neutral-50"
          >Volver al Inicio</a
        >
      </header>
      <article
        class="w-full md:w-3/4 relative flex flex-col gap-y-6 px-4 md:px-10 overflow-y-auto scroll"
      >
        {
          draw.map((item, idx) => {
            return (
              <a
                href={item.link}
                style={`animation-delay: ${idx * 2}00ms`}
                target="_blank"
                class={`flex justify-between items-center border animate-fade-up border-white rounded-lg py-3 px-4 md:px-10`}
              >
                <div class="max-w-[85%]">
                  <p class="text-xl md:text-3xl font-marck text-neutral-50">
                    {item.name}
                  </p>
                </div>
                <svg class="w-10 fill-neutral-50">
                  <use xlink:href="sprites.svg#link" />
                </svg>
              </a>
            );
          })
        }
      </article>
    </div>
  </section>
</Layout>
