---
import Layout from "../pages/layout.astro";
---

<Layout title="Iconos | Frontdev Resources">
  <div id="icons">
    <div class="w-[75vw] h-screen bg-blue-400">
      <h1>Iconos</h1>
    </div>
  </div>
</Layout>
