---
import Layout from "../pages/layout.astro";
---

<Layout title="Librerías | Frontdev Resources">
  <div id="libraries">
    <div class="w-[75vw] h-screen bg-red-400">
      <h1>Librerías</h1>
    </div>
  </div>
</Layout>
