---
import data from "../../data.json" assert { type: "JSON" };

const {
  icons
} = data;
---

<section
  id="icons"
  class="flex flex-col h-screen container mx-auto pt-52 pb-10 text-neutral-50 relative"
>
  <header>
    <h2 class="font-marck text-5xl my-10">Iconos</h2>
  </header>
  <div class="flex h-full relative">
    
  </div>
</section>
