<section id="hero" class="h-screen container mx-auto pt-52 text-neutral-50">
  <div
    class="container mx-auto h-full grid grid-rows-3 grid-flow-col gap-4 p-8"
  >
    <header
      class="p-10 row-span-3 rounded-2xl border border-white/20 grid place-content-center transition-colors hover:bg-white/5 duration-300"
    >
      <h2 class="font-marck text-5xl mb-8">Frontdev Resources</h2>
      <a
        href="#libraries"
        class="rounded-md border-2 border-neutral-50 px-10 py-3 font-medium text-xl mx-auto transition-colors duration-300 hover:bg-neutral-50 hover:text-neutral-900"
        >¡Empezar!</a
      >
    </header>

    <article
      class="col-span-2 rounded-2xl p-10 border border-white/20 grid place-content-center transition-colors hover:bg-white/5 duration-300"
    >
      <p class="text-2xl text-center mb-5">
        Frontdev es una página donde podras encontrar una colección de recursos
        que te pueden llegar a ser de utilidad en tu día a día haciendo
        desarrollo Frontend.
      </p>
    </article>

    <footer
      class="p-10 row-span-2 col-span-2 rounded-2xl border border-white/20 grid place-content-center transition-colors hover:bg-white/5 duration-300"
    >
      <p class="text-3xl text-center mb-10">Página creada por</p>
      <a
        href="https://alejandrodalzotto-portfolio.vercel.app/"
        class="text-5xl text-center font-marck font-bold transition-colors hover:text-rose-500"
        >Alejandro Dalzotto</a
      >
    </footer>
  </div>
</section>
