<p>
  <img
    src="https://upload.wikimedia.org/wikipedia/commons/2/21/Decorative_text_divider_5.svg"
    alt="Englische Linie.svg"
    height="14"
    width="100%"
    class="w-full invert"
  />
</p>
